@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?u7kd6g');
	src:url('fonts/icomoon.eot?#iefixu7kd6g') format('embedded-opentype'),
		url('fonts/icomoon.woff?u7kd6g') format('woff'),
		url('fonts/icomoon.ttf?u7kd6g') format('truetype'),
		url('fonts/icomoon.svg?u7kd6g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e654";
}
.icon-th-small:before {
	content: "\e600";
}
.icon-th-large:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e602";
}
.icon-arrow-forward:before {
	content: "\e603";
}
.icon-arrow-back:before {
	content: "\e604";
}
.icon-location:before {
	content: "\e605";
}
.icon-link:before {
	content: "\e606";
}
.icon-arrow-up-thick:before {
	content: "\e607";
}
.icon-arrow-down-thick:before {
	content: "\e608";
}
.icon-star:before {
	content: "\e609";
}
.icon-delete:before {
	content: "\e60a";
}
.icon-delete-outline:before {
	content: "\e60b";
}
.icon-heart:before {
	content: "\e60c";
}
.icon-flash:before {
	content: "\e60d";
}
.icon-cancel:before {
	content: "\e60e";
}
.icon-backspace:before {
	content: "\e60f";
}
.icon-warning:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e611";
}
.icon-info:before {
	content: "\e612";
}
.icon-group:before {
	content: "\e613";
}
.icon-chart-pie:before {
	content: "\e614";
}
.icon-chart-line:before {
	content: "\e615";
}
.icon-chart-bar:before {
	content: "\e616";
}
.icon-chart-area:before {
	content: "\e617";
}
.icon-globe:before {
	content: "\e618";
}
.icon-camera:before {
	content: "\e619";
}
.icon-refresh:before {
	content: "\e61a";
}
.icon-input-checked:before {
	content: "\e61b";
}
.icon-world:before {
	content: "\e61c";
}
.icon-phone:before {
	content: "\e61d";
}
.icon-social-twitter:before {
	content: "\e61e";
}
.icon-social-facebook:before {
	content: "\e61f";
}
.icon-at:before {
	content: "\e620";
}
.icon-plus-outline:before {
	content: "\e621";
}
.icon-minus-outline:before {
	content: "\e622";
}
.icon-tick-outline:before {
	content: "\e623";
}
.icon-th-large-outline:before {
	content: "\e624";
}
.icon-arrow-right-outline:before {
	content: "\e625";
}
.icon-arrow-left-outline:before {
	content: "\e626";
}
.icon-th-small-outline:before {
	content: "\e627";
}
.icon-th-menu-outline:before {
	content: "\e628";
}
.icon-th-list-outline:before {
	content: "\e629";
}
.icon-news:before {
	content: "\e62a";
}
.icon-home-outline:before {
	content: "\e62b";
}
.icon-arrow-up-outline:before {
	content: "\e62c";
}
.icon-arrow-forward-outline:before {
	content: "\e62d";
}
.icon-arrow-down-outline:before {
	content: "\e62e";
}
.icon-arrow-back-outline:before {
	content: "\e62f";
}
.icon-trash:before {
	content: "\e630";
}
.icon-message:before {
	content: "\e631";
}
.icon-location-outline:before {
	content: "\e632";
}
.icon-link-outline:before {
	content: "\e633";
}
.icon-star-outline:before {
	content: "\e634";
}
.icon-mail:before {
	content: "\e635";
}
.icon-heart-outline:before {
	content: "\e636";
}
.icon-flash-outline:before {
	content: "\e637";
}
.icon-warning-outline:before {
	content: "\e638";
}
.icon-time:before {
	content: "\e639";
}
.icon-info-outline:before {
	content: "\e63a";
}
.icon-backspace-outline:before {
	content: "\e63b";
}
.icon-user-outline:before {
	content: "\e63c";
}
.icon-group-outline:before {
	content: "\e63d";
}
.icon-chart-pie-outline:before {
	content: "\e63e";
}
.icon-chart-bar-outline:before {
	content: "\e63f";
}
.icon-map:before {
	content: "\e640";
}
.icon-camera-outline:before {
	content: "\e641";
}
.icon-tag:before {
	content: "\e642";
}
.icon-message-typing:before {
	content: "\e643";
}
.icon-thumbs-up:before {
	content: "\e644";
}
.icon-thumbs-down:before {
	content: "\e645";
}
.icon-gift:before {
	content: "\e646";
}
.icon-world-outline:before {
	content: "\e647";
}
.icon-device-tablet:before {
	content: "\e648";
}
.icon-device-phone:before {
	content: "\e649";
}
.icon-device-laptop:before {
	content: "\e64a";
}
.icon-device-desktop:before {
	content: "\e64b";
}
.icon-stopwatch:before {
	content: "\e64c";
}
.icon-lightbulb:before {
	content: "\e64d";
}
.icon-contacts:before {
	content: "\e64e";
}
.icon-phone-outline:before {
	content: "\e64f";
}
.icon-tags:before {
	content: "\e650";
}
.icon-social-twitter-circular:after {
	content: "\e655";
}
.icon-social-facebook-circular:before {
	content: "\e651";
}
.icon-social-tumbler-circular:before {
	content: "\e652";
}
.icon-messages:before {
	content: "\e653";
}

