{% extends "ruperton/ruperton_base.html" %}
{% load staticfiles %}

{% block titulo %}Compras ruperton - {{residente.nombre}}{% endblock titulo %}

{% block estaticos %} 
<link rel="stylesheet" href="{% static 'ruperton/css/compras.css' %}">
{% endblock estaticos %}

{% block contenido %}

<figure id="logo_ruperton">
	<img src="{% static 'ruperton/img/logo_ruperton.png' %}" alt="" width="750">
</figure>
<section class="contenedor_registro">
	<h3>Registra tus compras</h3>
	<form action="{% url 'ruperton_compras_registro' %}" method="post">
		{% csrf_token %}
		<label for="establecimiento">Establecimiento</label>
		<input type="text" name="establecimiento" id="establecimiento">
		<label for="monto">Monto</label>
		<input type="text" name="monto" id="monto">
		<input type="hidden" name="correo_residente" id="correo_residente" value="{{residente.correo}}">
		<input type="submit" value="Registrar">
	</form>
</section>

<h3 class="titulo_compras">Compras registradas</h3>

<section class="tabla_compras">
	<table>
	    <tr>
	        <th>Establecimiento</th>
	        <th>Monto</th> 
	        <th>Fecha registro</th>
	    </tr>
	    {% for compra in compras %}
		<tr>
	        <td>{{compra.establecimiento}}</td>
	        <td>{{compra.monto}}</td> 
	        <td>{{compra.fecha_registro}}</td>
	    </tr>
		{% endfor %}
	</table>
</section>

{% endblock contenido %}