{% extends "ruperton/ruperton_base.html" %}
{% load staticfiles %}

{% block titulo %}Ruperton{% endblock titulo %}

{% block estaticos %} 
<link rel="stylesheet" href="{% static 'ruperton/css/ruperton_home.css' %}">
<script src="{% static 'ruperton/js/ruperton_home.js' %}"></script>
{% endblock estaticos %}

{% block contenido %}
<figure id="logo_ruperton">
	<img src="{% static 'ruperton/img/logo_ruperton.png' %}" alt="" width="750">
</figure>

{% for sorteo in sorteos %}
<section class="contenedor_ruperton">
	<article class="encabezado_ruperton">
		<div class="info_ruperton">
			<h3>Ruperton:</h3>
			<p class="nombre_ruperton">{{sorteo.nombre}}</p>
			<p class="estado_ruperton_{{sorteo.estado_sorteo}}">{{sorteo.estado_sorteo}}</p>
		</div>
		<div class="fechas_ruperton">
			<p><strong>Fecha inicio:</strong> {{sorteo.fecha_inicio_registro_compras}}</p>
			<p><strong>Fecha cierre registro:</strong> {{sorteo.fecha_cierre_registro_compras}}</p>
		</div>
	</article>
	<article class="sorteo_1">
		<div class="info_sorteo">
			<h3>Sorteo 1:</h3>
			<p class="fecha_sorteo">{{sorteo.fecha_sorteo_1}}</p>
			<div class="info_premio_sorteo">
				<h2 class="premio_sorteo">{{sorteo.premio_sorteo_1}}</h2>
				<p class="estado_sorteo_{{sorteo.estado_sorteo_1}}">{{sorteo.estado_sorteo_1}}</p>
			</div>
		</div>
	</article>
</section>
{% endfor %}

{% endblock contenido %}