{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Encuentra lo que buscas, cerca de tu casa.">
	<title>Comunidad Bogota: encuentra lo que buscas, cerca de tu casa.</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'bogota/css/normalize.css' %}" />
	<link rel="stylesheet" href="{% static 'bogota/css/iconos.css' %}" />
	<link rel="stylesheet" href="{% static 'bogota/css/comunidad_bogota.css' %}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'bogota/js/comunidad_bogota.js' %}"></script>
</head>
<body>
	<div id="Contenedor">
		<header id="Encabezado">
			<a href="/">
				<h1>
					<figure id="Logo-comunidad-bogota">
						<img src="{% static 'bogota/imagenes/comunidad_bogota_logo.png' %}" alt="" width="305" />
					</figure>
				</h1>
			</a>
		</header>
		<section id="Contenedor-banner">
			{% for b in banners %}
			<article class="imagen-banner" id="{% cycle 'Banner1' 'Banner2' 'Banner3' 'Banner4' 'Banner5' %}">
				<img src="{{b.archivo_banner.url}}" alt="" width="1500">
			</article>
			{% endfor %}
			<div id="Boton-banner-izquierdo" class="boton-banner"><span class="icon-arrow-back"></span></div>
			<div id="Boton-banner-derecho"class="boton-banner"><span class="icon-arrow-forward"></span></div>
			<div id="Barra-progreso-banner">
				<div id="Progreso-banner">
				</div>
			</div>
		</section>
		<section id="Buscador">
			<figure id="Rupert">
				<img src="{{ruperto.archivo_imagen.url}}" alt="" />
			</figure>
			<section id="App">
				<section id="Filtro">
					<article id="Filtro-palabra-clave">
						<input list="palabras-clave" placeholder="Que deseas encontrar?">
						<datalist id="palabras-clave">
							{% for p in palabras_clave %}
							<option value="{{p.descripcion}}">
							{% endfor %}
						</datalist> 
						<article id="Lupa"><span class='icon-search'></span></article>
					</article>
					<article id="Filtro-comunidad" class="filtro">
						<input list="comunidades" placeholder="Comunidad">
						<datalist id="comunidades">
							{% for c in comunidades %}
							<option value="{{c.nombre}}">
							{% endfor %}
						</datalist> 
					</article>
					<div id="Tips">
						<p>Elige tu comunidad para mejores resultados</p>
					</div>
				</section>
				<section id="Resultados">
					<p id="Sin-resultados">Aun no hay resultados</p>
				</section>	
			</section>
		</section>
		<section id="Redes-sociales">
			<!-- <h2>Visita nuestras redes sociales</h2> -->
			<a href="http://twitter.com/Comu_Bogota">
				<article class="contenedor-red-social twitter">
					<h3><span class="icon-social-twitter"></span> Comu_Bogota </h3>
				</article>
			</a>
			<a href="http://www.facebook.com/comunidadcolinabogota">
				<article class="contenedor-red-social facebook">
					<h3><span class="icon-social-facebook "></span> comunidadcolinabogota </h3>
				</article>
			</a>
			<a href="http://www.facebook.com/comunidadcedritos">
				<article class="contenedor-red-social facebook">
					<h3><span class="icon-social-facebook facebook"></span> comunidadcedritos </h3>
				</article>
			</a>
		</section>
		<footer id="Pie-de-pagina">
			<h4>comunidadcedritos@hotmail.com</h4>
			<h4>Telefono: 807 6679</h4>
			<h4>Cel: 321 496 6493</h4>
		</footer>
	</div>
</body>
</html>