{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Encuentra lo que buscas, cerca de tu casa.">
	<title>Comunidad Bogota: encuentra lo que buscas, cerca de tu casa.</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'bogota/css/normalize.css' %}" />
	<link rel="stylesheet" href="{% static 'bogota/css/iconos.css' %}" />
	<link rel="stylesheet" href="{% static 'bogota/css/comunidad_bogota.css' %}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'bogota/js/comunidad_bogota.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54080454-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
	<div id="Contenedor">
		<header id="Encabezado">
			<a href="/">
				<h1>
					<figure id="Logo-comunidad-bogota">
						<img src="{% static 'bogota/imagenes/comunidad_bogota_logo.png' %}" alt="" width="305" />
					</figure>
				</h1>
			</a>
			<nav>
				<ul>
					<a href="/"><li>Buscador</li></a>
					<a href="{% url 'ruperton_home' %}"><li>Ruperton</li></a>
					{% if user.email %}
					<a href="{% url 'ruperton_residente' user.email %}"><li>Mi Ruperton</li></a>
					{% else %}
					<a href="{% url 'ruperton_login' %}"><li>Mi Ruperton</li></a>
					{% endif %}
					{% if user.email %}
					<a href="{% url 'ruperton_compras' user.email %}"><li>Registra tus compras</li></a>
					{% else %}
					<a href="{% url 'ruperton_login' %}"><li>Registra tus compras</li></a>
					{% endif %}
				</ul>
			</nav>
		</header>
		<div id="barra_login">
			{% if user.is_anonymous %}
			<form action="{% url 'login_view' %}" method="post">
				{% csrf_token %}
				<input type="text" name="correo" id="correo" placeholder="Ingresa con tu correo">
				<input type="submit" value="Entrar">
			</form>
			{% else %}
			<p>{{user.email}} - <a href="{% url 'logout_view' %}">Logout</a></p>	
			{% endif %}
			{% if login_error_message %}
			<p>{{login_error_message}}</p>
			{% endif %}
		</div>
		<section id="Contenedor-banner">
			{% for b in banners %}
			<article class="imagen-banner" id="{% cycle 'Banner1' 'Banner2' 'Banner3' 'Banner4' 'Banner5' %}">
				<img src="{{b.archivo_banner.url}}" alt="" width="1500">
			</article>
			{% endfor %}
			<div id="Barra-progreso-banner">
				<div id="Progreso-banner">
				</div>
			</div>
		</section>
		<div id="Boton-banner-izquierdo" class="boton-banner"><span class="icon-arrow-back"></span></div>
        <div id="Boton-banner-derecho"class="boton-banner"><span class="icon-arrow-forward"></span></div>

		<section id="Buscador">
			<figure id="Rupert">
				<img src="{{ruperto.archivo_imagen.url}}" alt="" />
			</figure>
			<section id="App">
				<section id="Filtro">
					<article id="Filtro-palabra-clave">
						<input list="palabras-clave" placeholder="Que deseas encontrar?">
						<datalist id="palabras-clave">
							{% for p in palabras_clave %}
							<option value="{{p.descripcion}}">
							{% endfor %}
						</datalist> 
						<article id="Lupa"><img src="{% static 'bogota/imagenes/boton_busqueda_comunidad.png' %}" width="100" /></article>
					</article>
					<article id="Filtro-comunidad" class="filtro">
						<input list="comunidades" placeholder="Comunidad">
						<datalist id="comunidades">
							{% for c in comunidades %}
							<option value="{{c.nombre}}">
							{% endfor %}
						</datalist> 
					</article>
					<div id="Tips">
						<p>Elige tu comunidad para mejores resultados</p>
					</div>
				</section>
				<section id="Resultados">
					<p id="Sin-resultados">Aun no hay resultados</p>
				</section>	
			</section>
		</section>
		<section id="Redes-sociales">
			<!-- <h2>Visita nuestras redes sociales</h2> -->
			<a href="http://twitter.com/Comu_Bogota">
				<article class="contenedor-red-social twitter">
					<h3><span class="icon-social-twitter"></span> Comu_Bogota </h3>
				</article>
			</a>
			<a href="http://www.facebook.com/comunidadcolinabogota">
				<article class="contenedor-red-social facebook">
					<h3><span class="icon-social-facebook "></span> comunidadcolinabogota </h3>
				</article>
			</a>
			<a href="http://www.facebook.com/comunidadcedritos">
				<article class="contenedor-red-social facebook">
					<h3><span class="icon-social-facebook facebook"></span> comunidadcedritos </h3>
				</article>
			</a>
		</section>
		<footer id="Pie-de-pagina">
			<h4>comunidadcedritos@hotmail.com</h4>
			<h4>Telefono: 807 6679</h4>
			<h4>Cel: 321 496 6493</h4>
		</footer>
	</div>
</body>
</html>
